---
import Layout from "../layouts/index.astro"
---

<Layout title="@sitebender/renderer">
	<header>
		<h1>@sitebender/renderer</h1>
	</header>
	<main>
		<p>Put something here.</p>
	</main>
</Layout>
